.fc-day-sun a.fc-daygrid-day-number {
  color: red;
}

.fc-day-sun a.fc-col-header-cell-cushion {
  color: red;
}

.fc-day-sat a {
  color: blue;
}

.fc-day-sat a.fc-col-header-cell-cushion {
  color: blue;
}

.fc .fc-toolbar-title {
  font-weight: bold;
}

.calendar-wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
}

.fc .fc-daygrid-day {
  height: 3em;
}

.fc-event-title {
  text-overflow: ellipsis;
}

.calendar-form-wrapper {
  min-height: 375px;
}

@media (max-width: 641px) {
  .fc-event-time {
    display: none;
  }
  .react-calendar {
    font-size: 0.8em;
  }
  .calendar-form-wrapper {
    min-height: 300px;
  }
}

.fc-daygrid-event {
  overflow-x: hidden;
}

.fc .fc-view-harness {
  max-height: 1080px;
}

.fc .fc-daygrid-week-number {
  font-size: 0.75em;
}

.fc .fc-time-grid-day-header {
  font-size: 0.75em;
}

.fc .fc-col-header-cell {
  text-align: left;
  border: none;
}

.fc .fc-scrollgrid {
  border: none;
}

.fc-scrollgrid-section-header>td {
  border: none;
}

.fc-scrollgrid-section-body>td {
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-radius: 0.2em;
}

@media (max-width: 641.5px) {
  .fc-event-time {
    display: none;
  }
  .react-calendar {
    font-size: 0.8em;
  }
}

@media (min-width:642px)  { 
  .calendar-wrapper{
    padding: 1em;
    width: 1200px;
  }
  .fc .fc-daygrid-day {
    height: 166px;
  }
  .fc .fc-daygrid-week-number {
    font-size: 1em;
  }
  .fc .fc-time-grid-day-header {
    font-size: 1em;
  }
}

.toolbar-header {
  font-weight: bold;
}

.toolbar-divider {
  width: 100%;
  height: 1px;
  margin: 0.5em 0.1em;
  background-color: #dcdfe6;
  position: relative;
}

.toolbar-content {
  text-align: center;
}