.reservation-router {
  max-width: 1200px;
  padding: 1em;
  margin: auto;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.reservation-router-anchor {
  margin: auto;
}

@media (min-width:641px)  { 
  .reservation-router-anchor {
    width: fit-content;
  }
}
