{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": "google",
    "rules": {
      "require-jsdoc": 0,
      "no-multi-spaces": 0,
      "no-unused-vars": 0,
      "new-cap": 0,
      "valid-jsdoc": 0
    }
}
