header {
    width: 100%;
    height: 10vh;
}

header .unitNameContainer{
    display: flex;
    flex-direction: column;
    line-height:1;
}

header .MuiBadge-dot{
    background-color:#E16913;
}

@media only screen and (min-width: 641px) {
    header .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header .logo img{
        margin:10px;
    }

    header button{
        justify-content: center;
        align-items: center;
        border: 1px solid #B9D1BE !important;
        border-radius: 8px !important;
        margin-right:10px !important;
    }

    header .navigation a{
        width: 100px;
        margin: 30px;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 18px;
    }

    header .millage{
        color: #10902C;
        font-family: "Roboto";
        font-size: 12px;
        font-weight: normal;
    }

    header .unitName {
        color: #000000;
        font-family: "Roboto";
        font-size: 26px;
        font-weight: normal;
    }

    header .enabled{
        color: #10902C;
        border-bottom: 3px solid #10902C;
    }

    header .loginlink{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;

        color: #000000;
    }
    header #BottomNavigationContainer{
      display: none;
    }
    #root{
      padding-bottom:10px;
    }
}

@media only screen and (max-width: 640px) {
  #root{
    padding-bottom:50px;
  }

  header #BottomNavigationContainer{
    display:block;
    width:100%;
  }
  header #BottomNavigationContainer button{
    padding: 0;
    min-width:0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
  }

  header .enabled{
    color: #10902C; 
  }

  header .enabled span{
    color: #10902C; 
  }

  header .enabled svg{
    color: #10902C; 
  }


  header .logo img{
    display:none;
  }
  header .navigation{
    display:none;
  }
  header .buttons{
    display:none;
  }
  header .millage{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    letter-spacing: -0.02em;
    color: #10902C;
    margin-bottom:5px;
  }

  header .unitName {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: #000000;
  }
}


#UserDialog .container{
    width: 360px;
}
#UserDialog .buttonStyle{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: normal;
    width: 100%;
    height: 45px;
    text-indent: 10px;
}

#UserDialog label{
    color: rgba(0,0,0,0.8);
    font-family: Inter;
    font-size: 9px;
    font-weight: normal;
    margin-left:10px;
}

#UserDialog .title{
    font-family: 'Inter';
    font-size: '12px';
    font-weight: 600;
    width:100%;
    display: block;
    margin-left: -5px;
    margin-bottom: 10px;
}

#UserDialog .hidden{
    display:hidden;
}

#UserDialog .warning{
    font-size: 8px;
    color: #f23d3d;
    display: block;
    position: absolute;
}

#UserDialog .approve{
    font-size: 8px;
    color: #294CFF;
    display: block;
    position: absolute;
}

#UserDialog .submitButton{
    background-color: #10902C;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 10px;
}

#UserDialog .gridContainer{
    margin:10px;
}

#UserDialog .mainTitle{
    display: none;
}