#MessageContainer {
    position: fixed;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

@media only screen and (min-width: 641px) {
    #MessageContainer #messageboxes{
        position: relative;
        width:350px;
        height:100%;
        border: 1px solid #ededed;
        border-radius: 12px;
        margin: 5px;
    }

    #MessageContainer #messages{
        position: relative;
        width: 780px;
        height:100%;
        border: 1px solid #e0c7c7;
        border-radius: 12px;
        margin: 5px;
        overflow-y: auto;
    }

    #MessageContainer #messageboxes h2 {
      position: absolute; left: 16px; line-height: 33px; color: #292929; font-size: 22px; font-weight: bold;
    }
}
@media only screen and (max-width: 640px) {
  #MessageContainer #messageboxes {
    display: none;
  }
  #MessageContainer #messageboxes.visible {
    display: block;
  }

  #MessageContainer #messages {
    display: none;
  }
  #MessageContainer #messages.visible {
    display: block;
  }
}

#MessageContainer #messages input{
  width:100%;
  border: 1px solid black;
}

#MessageContainer button{
  width: 100%;
  height:30px;
}

#MessageContainer .title{
  height:30px;
}

#MessageContainer .enabled{
  background-color: rgba(0,0,0,0.15);
}

#MessageContainer .hide{
  display: none;
}
