#MessageContainer {
    position: fixed;
    width: 100vw;
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

#MessageContainer #messageboxes{
    position: relative;
    width:388px;
    height:100%;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px;
}

#MessageContainer #messages{
    position: relative;
    width: 600px;
    height:100%;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 5px;
}

#MessageContainer #messages input{
  width: 552px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  text-indent:20px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#MessageContainer button{
  width: 100%;
  height:60px;
  display: flex;

}

#MessageContainer .title{
  display: flex;
  height:55px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  text-indent:15px;
}

#MessageContainer .messageTitle{
  height:55px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  text-indent:15px;
  display:flex;
}

#MessageContainer .enabled{
  background-color: rgba(0,0,0,0.15);
}

#MessageContainer .hide{
  display: none;
}

#MessageContainer .messageBoxDetail{
  display:flex;
  flex-direction: column;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.02em;
  text-align:left;
  padding-top:15px;
  line-height:15px;
  text-indent:10px;
}

#MessageContainer .usericon{
  margin-top:10px;
  margin-left:20px;
}

#MessageContainer .MuiBadge-dot{
  background-color:#E16913;
  
}

#MessageContainer .smallerIcon{
  width:30px; 
  margin-left:20px;
}

#MessageContainer .hidden{
  display:none;
}

#MessageContainer .message{
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  margin-top:5px;
  margin-bottom:5px;
}

#MessageContainer .messageReverse{
  display: flex;
  flex-direction: row-reverse;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  margin-top:5px;
  margin-bottom:5px;
}

#MessageContainer .mine, .others{
  background: #C4C4C4;
  border-radius: 15px;
  height:auto;
  max-width:240px;
  padding:10px;
  margin-left:5px;
  margin-right:10px;
}

#MessageContainer .iconContainer, .messageDetailContainer{
  display:flex;
  justify-content: center;
  align-items:center;
}

#MessageContainer .messagesContainer {
  overflow-y: auto;
  height:500px;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

#MessageContainer .messagesContainer::-webkit-scrollbar {
  display: none;
}

#MessageContainer .items {
  overflow-y: auto;
  height:500px;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

#MessageContainer .items::-webkit-scrollbar {
  display: none;
}


#MessageContainer .deleteicon{
  display:flex;
  flex-direction:row-reverse;
  margin-top:8px;
  width:100%;
  padding-right:10px;
}

#MessageContainer .newMessageIcon{
  display:flex;
  flex-direction:row-reverse;
  margin-top:8px;
  width:100%;
  padding-right:10px;
}


#MessageContainer .nomessage{
  margin-left:auto;
  margin-right: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  display:flex;
  height:600px;
  flex-direction:column;
  justify-content:center;
  color: rgba(0, 0, 0, 0.5);
}

#MessageContainer .nomessage span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width:430px;
    text-align:center;
}

#DMUsersDialog .DMUserContainer{
  width: 360px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  max-height: 600px;
}

#DMUsersDialog .DMUserContainer::-webkit-scrollbar {
  display: none;
}

#DMUsersDialog .userButton{
  height:50px;
  margin: 2px;
  display:flex;
  line-height:50px;
  text-align:left;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  width:100%;
}

#DMUsersDialog .userButton img{
  display: block;
  margin-top:5px;
  padding-right:10px;
}


#DMUsersDialog .userButton:hover{
  background-color: rgba(0,0,0,0.2);
}

#DMUsersDialog #SearchContainer{
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top:10px;
  padding-bottom:10px;
}

#DMUsersDialog .dialogTitle{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align:center;
}

#DMUsersDialog #SearchContainer input{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:300px;
  border: 1px solid rgba(0,0,0,0.5);
  text-indent:10px;
  height:30px;
  border-radius:15px;
}