#AdminContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#AdminContainer #ListContainer{
    height:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width: 80%;
}

#AdminContainer #UnitListContainer{
    height:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width: 60%;
}

#AdminContainer .select {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#AdminContainer #ListContainer .actionButton{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#AdminContainer #ListContainer .hidden{
    display:none;
}

#AdminContainer #SearchContainer{
    padding-top:50px;
}

#AdminContainer #SearchContainer input{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    border: 1px solid rgba(0,0,0,0.5);
    text-indent:10px;
    height:30px;
}
