#BoardSideBox .title{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height:30px;
}

#BoardSideBox .head{
    height:30px;
    line-height:30px;
    display:flex;
}

#BoardSideBox .box{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
}
#BoardSideBox .box img{
    width:30px;
    height:30px;
    margin-right: 5px;
    padding:5px;
    margin-left:5px;
}
#BoardSideBox .link{
    cursor: pointer;
}

#BoardSideBox .link:hover{
    background-color: rgba(0,0,0,0.1);
}

#BoardSideBox .post{
    display: flex;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

#BoardSideBox .post{
    display: flex;
}

#BoardSideBox .green{
    display:flex;
    width: 4px;
    height: 4px;
    background-color: #219653;
    border-radius: 50%;
    margin-top:10px;
    margin-right:5px;
}

#BoardSideBox .orange{
    display:flex;
    width: 4px;
    height: 4px;
    background-color: #F2994A;
    border-radius: 50%;
    margin-top:10px;
    margin-right:5px;
}
